#pragma once

// Secret Wi-Fi Credentials for your local home/office network
// This file is gitignored and will never be committed to git.
#define STA_WIFI_SSID       "YOUR_WIFI_SSID"
#define STA_WIFI_PASS       "YOUR_WIFI_PASSWORD"

// Fallback SoftAP credentials if Station mode is unreachable
#define AP_WIFI_SSID        "ESP32-FOC-Driver"
#define AP_WIFI_PASS        "12345678"
