# Target ESP32-S3
CONFIG_IDF_TARGET="esp32s3"

# CPU Frequency (240MHz for maximum FOC compute throughput)
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_MHZ=240

# Flash Configuration: 32MB (N32)
CONFIG_ESPTOOLPY_FLASHSIZE_32MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="32MB"
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y


# PSRAM Configuration: 8MB Octal SPI (R8)
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_USE_MALLOC=y

# High Precision Timer / FreeRTOS Configuration
CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_TIMER_TASK_STACK_SIZE=4096
CONFIG_ESP_TIMER_TASK_AFFINITY=0x2
CONFIG_ESP_TIMER_INTERRUPT_LEVEL=1

# Log Configuration
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
